body{
    background-color: #2C3333;
}
.head{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
h1{
    color: #CBE4DE;
}
h3{
    color: #0E8388;
}
p{
    color:#CBE4DE;
    text-align: center;
}
#top-text{
    opacity: 100%;
    font-size:18px;
}

h4{
    color: #2C3333;
}
ul{
    color: #CBE4DE;
    list-style-type: none;
    text-align: left;
    opacity: 80%;
}


.flex-container{
    display: flex;
    justify-content: center;
    
    
}
.flex-left{
    background-color: #1c3030;
    flex-basis: 15%;
    text-align: center;
}
.flex-left p{
    font-size: 18px;
}
.flex-left p span{
    font-size: 28px;
    
}
.flex-right{
    background-color: #2E4F4F;
    flex-basis: 15%;
    text-align: center;
}
.button{
    border: none;
    background-color: #2E4F4F;
    color: #CBE4DE;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-flex;
    padding: 5px 40px;
    margin: 4px 2px;
    border-radius: 12px;
    transition-duration: 0.5s;
    cursor: pointer;
    
}
.button:hover{
    background-color: #0E8388;
    color: #2C3333;
}
